{%- comment -%}
  Get description from include or generate from content.
{%- endcomment -%}

{%- assign max_length = include.max_length | default: 200 -%}

{%- comment -%}
  Use include.article or include.post, fallback to page if needed
{%- endcomment -%}
{%- assign entry = include.article | default: include.post | default: page -%}

{%- capture description -%}
  {%- if entry.description -%}
    {{- entry.description -}}
  {%- else -%}
    {% assign content = entry.content %}

    {% comment %}
      Remove the line number markup in code snippets
    {% endcomment %}
    {% if content contains '<td class="rouge-gutter gl"><pre class="lineno">' %}
      {% assign content = content
        | replace: '<td class="rouge-gutter gl"><pre class="lineno">', '<!-- <td class="rouge-gutter gl"><pre class="lineno">' %}
      {% assign content = content
        | replace: '</td><td class="rouge-code">', '</td> --><td class="rouge-code">' %}
    {% endif %}

    {{- content | markdownify | strip_html | newline_to_br
      | replace: '<br />', ' ' | strip_newlines -}}
  {%- endif -%}
{%- endcapture -%}

{{- description | strip | truncate: max_length | escape -}}
