<!-- Get 5 last posted/updated articles or posts -->

{% assign MAX_SIZE = 5 %}
{% assign all_items = site.posts | concat: site.articles %}
{% assign item_list = '' | split: '' %}

{% for item in all_items %}
  {% assign datetime = item.last_modified_at | default: item.date %}

  {% capture entry %}
    {{- datetime | date: "%Y%m%d%H%M%S" -}}::{{ item.url | relative_url }}::{{ item.title }}
  {% endcapture %}

  {% assign item_list = item_list | push: entry %}
{% endfor %}

{% assign sorted_list = item_list | sort | reverse %}
{% assign update_list = sorted_list | slice: 0, MAX_SIZE %}

{% if update_list.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.lastmod -}}</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for item in update_list %}
        {% assign parts = item | split: '::' %}
        {% assign url = parts[1] %}
        {% assign title = parts[2] %}
        <li class="text-truncate lh-lg">
          <a href="{{ url }}">{{ title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
  <!-- #access-lastmod -->
{% endif %}
