---
layout: default
---
{% assign category_name = page.title | downcase %}

<h1>Category: {{ category_name }}</h1>

{% assign filtered_articles = site.articles | where_exp: 'item', 'item.categories contains category_name' %}

{% if filtered_articles.size > 0 %}
  <ul>
    {% for article in filtered_articles %}
      <li>
        <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No articles found in this category.</p>
{% endif %}
