---
layout: default
refactor: true
---
{% include lang.html %}

{% assign grouped = site.articles | group_by_exp: 'item', 'item.categories[1]' %}
{% assign all_groups = site.data.groups %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for category in grouped %}
    {% assign first_article = category.items[0] %}
    {% assign category_name = category.name %}

    {%- assign category_meta = null -%}
    {%- for group in all_groups -%}
      {%- assign match = group.categories | where: 'name', category_name | first -%}
      {%- if match -%}
        {%- assign category_meta = match -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}

    <article class="card-wrapper card">
      <a
        href="{{ site.baseurl }}/categories/{{ category.name | slugify }}/"
        class="post-preview row g-0 flex-md-row-reverse"
      >
        {% assign card_body_col = '12' %}

        {%- if category_meta.image %}
          <div class="col-md-3 d-flex align-items-center justify-content-end pe-5">
            <img
              src="{{ category_meta.image }}"
              alt="Image for category {{ category_name }}"
              class="img-fluid"
              style="max-width: 100px;"
            >
          </div>
          {% assign card_body_col = '9' %}
        {%- endif %}

        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <!-- Category Title -->
            <h1 class="card-title my-2 mt-md-0">
              {{ category_meta.title | default: category.name }}
            </h1>

            <div class="card-text content mt-0 mb-3">
              {% if category_meta.description %}
                <p class="mb-2">{{ category_meta.description }}</p>
              {% endif %}
            </div>
            <p class="card-text text-muted">
              {{ category.items | size }} artigo{% if category.items.size > 1 %}s{% endif %}
            </p>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</div>

{% comment %} Remove paginator since we are not listing posts {% endcomment %}
