---
layout: page
# All the Tags of articles.
---
<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tag_list = '' | split: '' %}

  {% for article in site.articles %}
    {% if article.tags %}
      {% for tag in article.tags %}
        {% unless tag_list contains tag %}
          {% assign tag_list = tag_list | push: tag %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% assign sorted_tags = tag_list | sort_natural %}

  <div>
    <a class="tag" href="#" data-tag="all"> All </a>
  </div>

  {% for tag in sorted_tags %}
    <div>
      <a class="tag" href="#" data-tag="{{ tag | slugify }}">
        {{ tag }}
      </a>
    </div>
  {% endfor %}
</div>

<hr>

<div id="articles">
  {% for article in site.articles %}
    <div class="article-item mb-3" data-tags="{% for tag in article.tags %}{{ tag | slugify }} {% endfor %}">
      <div class="article-header">
        <!-- Título do artigo -->
        <!-- <a href="{{ article.url | relative_url }}" class="article-title">{{ article.title }}</a> -->
        <h5 class="card-title my-2 mt-md-0">
          <a href="{{ article.url | relative_url }}" class="card-title">{{ article.title }}</a>
        </h5>
        <!-- Exibe as tags associadas a cada artigo na mesma linha -->
        <div class="article-tags">
          {% for tag in article.tags %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<style>
  .article-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<script src="{{ '/assets/js/custom/tags-filter.js' | relative_url }}"></script>
